.header {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  margin: 0;
  text-align: center;
}

.back {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 640px) {
  .back {
    position: relative;
    transform: translateX(20);
  }
}